In [39]:
import pandas as pd

In [40]:
data = pd.read_csv('clientes.csv', sep=',', encoding='ISO-8859-1')

data.size
data.shape
data.index
data.columns
data.dtypes

data.values
data.ndim

2

In [41]:
data.describe()

,ï»¿ID del cliente,Frecuencia de compra,Valor promedio de la compra,Edad
count,157.000000,157.000000,152.00000,154.000000
mean,82.579618,2.369427,118.23750,31.233766
std,47.555248,1.172804,249.86509,9.146443
min,1.000000,1.000000,20.00000,1.000000
25%,42.000000,1.000000,65.20000,26.000000
50%,83.000000,2.000000,85.10000,30.000000
75%,124.000000,3.000000,120.28750,37.000000
max,161.000000,5.000000,3110.00000,80.000000

In [42]:
data = data.dropna()
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 142 entries, 0 to 156
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   ï»¿ID del cliente                  142 non-null    int64
 1   Nombre                             142 non-null    object
 2   Ãltima fecha de compra            142 non-null    object
 3   Frecuencia de compra               142 non-null    int64
 4   Valor promedio de la compra        142 non-null    float64
 5   CategorÃ­a de productos comprados  142 non-null    object
 6   MÃ©todo de pago                    142 non-null    object
 7   Edad                               142 non-null    float64
dtypes: float64(2), int64(2), object(4)
memory usage: 10.0+ KB

In [43]:
data.head()

,ï»¿ID del cliente,Nombre,Ãltima fecha de compra,Frecuencia de compra,Valor promedio de la compra,CategorÃ­a de productos comprados,MÃ©todo de pago,Edad
0,1,Juan Perez,15/03/2022,5,200.5,Ropa,Tarjeta de crÃ©dito,32.0
1,2,Ana Rodriguez,01/04/2022,2,80.0,Juguetes,Efectivo,45.0
2,3,Luisa Hernandez,10/12/2021,3,150.2,ElectrÃ³nica,Transferencia bancaria,28.0
3,4,Carlos Garcia,28/02/2022,1,300.0,Alimentos,Tarjeta de crÃ©dito,50.0
4,5,Maria Gomez,20/03/2022,4,75.8,Ropa,Efectivo,22.0

In [44]:
data.tail()

,ï»¿ID del cliente,Nombre,Ãltima fecha de compra,Frecuencia de compra,Valor promedio de la compra,CategorÃ­a de productos comprados,MÃ©todo de pago,Edad
152,160,Andrea Soto,09/06/2022,2,50.0,ElectrÃ³nica,Transferencia bancaria,25.0
153,161,Laura Hernandez,06/06/2022,1,120.0,Alimentos,Efectivo,39.0
154,145,Luis Garcia,04/06/2022,4,75.2,Alimentos,Transferencia bancaria,28.0
155,154,Luisa Perez,08/06/2022,2,80.0,Ropa,Transferencia bancaria,33.0
156,160,Andrea Soto,09/06/2022,2,50.0,ElectrÃ³nica,Transferencia bancaria,25.0

In [45]:
# data.to_excel('clientes.xlsx')

In [46]:
resultado = data.iloc[34:40]

resultado

,ï»¿ID del cliente,Nombre,Ãltima fecha de compra,Frecuencia de compra,Valor promedio de la compra,CategorÃ­a de productos comprados,MÃ©todo de pago,Edad
37,40,Sofia Rodriguez,17/04/2022,3,98.6,ElectrÃ³nica,Efectivo,32.0
38,41,Alberto Torres,28/01/2022,2,50.8,Alimentos,Tarjeta de crÃ©dito,21.0
39,42,Julia Martinez,22/04/2022,4,90.7,Ropa,Transferencia bancaria,33.0
40,43,Daniel Castro,12/03/2022,3,3110.0,Juguetes,Tarjeta de crÃ©dito,24.0
41,44,Ana Flores,20/04/2022,1,200.0,ElectrÃ³nica,Efectivo,41.0
42,45,Luisa Hernandez,15/01/2022,2,80.6,Alimentos,Transferencia bancaria,28.0

In [47]:
# grupo = data.groupby('CategorÃ­a de productos comprados').count
grupo = data.groupby('CategorÃ­a de productos comprados').size()
grupo = data.groupby('CategorÃ­a de productos comprados').agg({'CategorÃ­a de productos comprados':'max'})
grupo

                                  CategorÃ­a de productos comprados
CategorÃ­a de productos comprados
Alimentos                                                 Alimentos
ElectrÃ³nica                                           ElectrÃ³nica
Juguetes                                                   Juguetes
Ropa                                                           Ropa

In [48]:
grupo = data.groupby('CategorÃ­a de productos comprados').min()
grupo = data.groupby('CategorÃ­a de productos comprados').max()
grupo

,ï»¿ID del cliente,Nombre,Ãltima fecha de compra,Frecuencia de compra,Valor promedio de la compra,MÃ©todo de pago,Edad
CategorÃ­a de productos comprados,,,,,,,
Alimentos,161,Sofia Dominguez,31/03/2022,4,300.0,Transferencia bancaria,50.0
ElectrÃ³nica,160,Sofia Rodriguez,31/03/2022,5,220.0,Transferencia bancaria,54.0
Juguetes,159,Roberto Ortiz,31/03/2022,5,3110.0,Transferencia bancaria,45.0
Ropa,158,Sofia Torres,29/04/2022,5,200.5,Transferencia bancaria,80.0

In [49]:
resultado = data.groupby('Frecuencia de compra').min()
resultado

,ï»¿ID del cliente,Nombre,Ãltima fecha de compra,Valor promedio de la compra,CategorÃ­a de productos comprados,MÃ©todo de pago,Edad
Frecuencia de compra,,,,,,,
1,4,Alberto Ortiz,01/06/2022,20.0,Alimentos,Efectivo,1.0
2,2,Alberto Torres,01/03/2022,30.9,Alimentos,Efectivo,20.0
3,3,Alejandro Torres,01/05/2022,45.7,Alimentos,Efectivo,3.0
4,5,Ana Hernandez,04/06/2022,35.2,Alimentos,Efectivo,22.0
5,1,Ana Flores,15/03/2022,55.6,ElectrÃ³nica,Efectivo,23.0

In [50]:
url = 'https://docs.google.com/spreadsheets/d/1tu-X5KoOkH8DjPUHTgKsqnQR9NeoyVEj/edit#gid=852659367'
path = 'https://docs.google.com/spreadsheets/d/1tu-X5KoOkH8DjPUHTgKsqnQR9NeoyVEj/edit#gid=852659367'

In [53]:
# URL del archivo de Google Sheets
url = 'https://docs.google.com/spreadsheets/d/1tu-X5KoOkH8DjPUHTgKsqnQR9NeoyVEj/edit#gid=852659367'

# Obtener el ID del archivo de la URL
spreadsheet_id = url.split('/')[-2]

# Construir la URL del archivo de Excel en Google Drive
excel_url = f'https://docs.google.com/spreadsheets/d/{spreadsheet_id}/export?format=xlsx'

# Leer el archivo de Excel directamente desde Google Drive
data = pd.read_excel(excel_url)

# Ahora puedes usar 'data' como un DataFrame de pandas

HTTPError: HTTP Error 401: Unauthorized